
      p {color:rgb(235, 160, 20);
      font-family: "Times New Roman", sans-serif;
      background-color: black;
      font-size 11px;
      }
      h1 {background-color:black;
      font-size:30px; 
      font-style:italic;
      color:white;
    }
    
  #me {
    color: violet;
    text-align: center;
    font-style: oblique;
    text-emphasis-color: red;
     
  }
  #head-id{
    font-size: 20;
    color: white;
    background-color: blanchedalmond;
  }
  .about-me {
    color: rgb(176, 0, 2);
    font-style: oblique;
    background-color: azure;
    text-align: center;
    
  }
   .img-mount {
     width:1425px ;

   }
     
